{
    "port": 80,
    "watchConfig": true,
    "hosts":
    [
        {
            "domain": "expressy.local",
            "type": "static",
            "target": "./docs",
            "filter": ["**.php"]
        },
        {
            "domain": "*",
            "type": "alias",
            "target": "expressy.local"
        },
        {
            "domain": "testtest2.com",
            "type": "alias",
            "target": "expressy.local"
        },
        {
            "domain": "testtest3.com",
            "type": "proxy",
            "target": "127.0.0.1:80"
        },
        {
            "domain": "testtest4.com",
            "type": "redirect",
            "target": "https://google.de"
        },
        {
            "domain": "testtest5.com",
            "type": "static",
            "index": true,
            "target": "./docs",
            "basicAuth": { "user": {"password": "password"} }
        }
    ]
}